.DS_Store
/ooniprobe.xcodeproj/project.xcworkspace/xcuserdata/
/ooniprobe.xcodeproj/xcuserdata
/ooniprobe.xcworkspace/xcuserdata/
/Pods/
ooniprobe.xcworkspace/xcuserdata/lorenzo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
