<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>include_ip</key>
	<false/>
	<key>include_asn</key>
	<true/>
	<key>gps_position</key>
	<false/>
	<key>collector_address</key>
	<string>https://measurement-kit-collector.herokuapp.com</string>
	<key>bouncer_address</key>
	<string></string>
</dict>
</plist>
