<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upload_results</key>
	<true/>
	<key>automatic_tests</key>
	<array>
		<string>web_connectivity</string>
		<string>http_invalid_request_line</string>
		<string>http_header_field_manipulation</string>
		<string>ndt</string>
		<string>dash</string>
		<string>whatsapp</string>
		<string>telegram</string>
		<string>facebook_messenger</string>
	</array>
	<key>max_runtime_enabled</key>
	<true/>
	<key>max_runtime</key>
	<integer>90</integer>
	<key>send_analytics</key>
	<true/>
	<key>send_crash</key>
	<true/>
	<key>notifications_enabled</key>
	<false/>
	<key>notifications_news</key>
	<false/>
	<key>automated_testing_enabled</key>
	<false/>
	<key>monthly_mobile_allowance</key>
	<integer>100</integer>
	<key>monthly_wifi_allowance</key>
	<integer>0</integer>
	<key>debug_logs</key>
	<false/>
	<key>use_domain_fronting</key>
	<false/>
	<key>test_whatsapp</key>
	<true/>
	<key>test_telegram</key>
	<true/>
	<key>test_facebook_messenger</key>
	<true/>
	<key>test_psiphon</key>
	<true/>
	<key>test_tor</key>
	<true/>
	<key>test_riseupvpn</key>
	<true/>
	<key>categories_disabled</key>
	<array/>
	<key>run_ndt</key>
	<true/>
	<key>run_dash</key>
	<true/>
	<key>run_http_invalid_request_line</key>
	<true/>
	<key>run_http_header_field_manipulation</key>
	<true/>
</dict>
</plist>
