<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local_notifications</key>
	<false/>
	<key>include_ip</key>
	<false/>
	<key>include_asn</key>
	<true/>
	<key>include_cc</key>
	<true/>
	<key>upload_results</key>
	<true/>
	<key>local_notifications_time</key>
	<date>2017-01-01T17:00:00Z</date>
	<key>automatic_tests</key>
	<array>
		<string>web_connectivity</string>
		<string>http_invalid_request_line</string>
		<string>http_header_field_manipulation</string>
		<string>ndt</string>
		<string>dash</string>
		<string>whatsapp</string>
		<string>telegram</string>
		<string>facebook_messenger</string>
	</array>
	<key>sites_categories</key>
	<array>
		<string>ALDR</string>
		<string>REL</string>
		<string>PORN</string>
		<string>PROV</string>
		<string>POLR</string>
		<string>HUMR</string>
		<string>ENV</string>
		<string>MILX</string>
		<string>HATE</string>
		<string>NEWS</string>
		<string>XED</string>
		<string>PUBH</string>
		<string>GMB</string>
		<string>ANON</string>
		<string>DATE</string>
		<string>GRP</string>
		<string>LGBT</string>
		<string>FILE</string>
		<string>HACK</string>
		<string>COMT</string>
		<string>MMED</string>
		<string>HOST</string>
		<string>SRCH</string>
		<string>GAME</string>
		<string>CULTR</string>
		<string>ECON</string>
		<string>GOVT</string>
		<string>COMM</string>
		<string>CTRL</string>
		<string>IGO</string>
		<string>MISC</string>
	</array>
	<key>max_runtime</key>
	<integer>90</integer>
	<key>send_crash</key>
	<true/>
</dict>
</plist>
