<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951667061699-tuprsdjjv9eje6506lkvkski1p6v87lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951667061699-tuprsdjjv9eje6506lkvkski1p6v87lp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951667061699-o4i6pjdbeq9daum312u6fhmqc9gr4hu1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYvrF_W5nl4n11eGGWgWJ4ug_kbN1kS2A</string>
	<key>GCM_SENDER_ID</key>
	<string>951667061699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.openobservatory.ooniprobe</string>
	<key>PROJECT_ID</key>
	<string>ooniprobe-android</string>
	<key>STORAGE_BUCKET</key>
	<string>ooniprobe-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951667061699:ios:b8b25633aecd409d374376</string>
	<key>DATABASE_URL</key>
	<string>https://ooniprobe-android.firebaseio.com</string>
</dict>
</plist>