<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>my</key>
	<string>မြန်မာ</string>
	<key>vi</key>
	<string>Tiếng Việt</string>
	<key>ar</key>
	<string>العربية</string>
	<key>ca</key>
	<string>Català</string>
	<key>de</key>
	<string>Deutsch</string>
	<key>el</key>
	<string>Ελληνικά</string>
	<key>es</key>
	<string>Español</string>
	<key>en</key>
	<string>English</string>
	<key>fa</key>
	<string>فارسی</string>
	<key>fr</key>
	<string>Français</string>
	<key>hi</key>
	<string>हिन्दी</string>
	<key>id</key>
	<string>Indonesia</string>
	<key>is</key>
	<string>Icelandic</string>
	<key>it</key>
	<string>Italiano</string>
	<key>nl</key>
	<string>Nederlands</string>
	<key>pt_BR</key>
	<string>Português</string>
	<key>ro</key>
	<string>Română</string>
	<key>ru</key>
	<string>Pусский</string>
	<key>sw</key>
	<string>Kiswahili</string>
	<key>sk</key>
	<string>Slovenčina</string>
	<key>sq</key>
	<string>Albanian</string>
	<key>th</key>
	<string>ไทย</string>
	<key>tr</key>
	<string>Türkçe</string>
	<key>zh_CN</key>
	<string>中文 (S)</string>
	<key>zh_TW</key>
	<string>中文 (T)</string>
</dict>
</plist>
