<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ar</key>
        <string>Arabic</string>
        <key>ca</key>
        <string>Catalan</string>
        <key>de</key>
        <string>German</string>
        <key>el</key>
        <string>Greek</string>
        <key>es</key>
        <string>Spanish</string>
        <key>en</key>
        <string>English</string>
        <key>fa</key>
        <string>Farsi</string>
        <key>fr</key>
        <string>French</string>
        <key>hi</key>
        <string>Hindi</string>
        <key>id</key>
        <string>Indonesian</string>
        <key>is</key>
        <string>Icelandic</string>
        <key>it</key>
        <string>Italian</string>
        <key>nl</key>
        <string>Dutch</string>
        <key>pt_BR</key>
        <string>Portuguese</string>
        <key>ro</key>
        <string>Romanian</string>
        <key>ru</key>
        <string>Russian</string>
        <key>sw</key>
        <string>Swahili</string>
        <key>sk</key>
        <string>Slovak</string>
        <key>sq</key>
        <string>Albanian</string>
        <key>th</key>
        <string>Thai</string>
        <key>tr</key>
        <string>Turkish</string>
        <key>zh_CN</key>
        <string>Chinese (S)</string>
        <key>zh_TW</key>
        <string>Chinese (T)</string>
    </dict>
</plist>
