<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>websites</key>
	<string>Test.Websites.Fullname</string>
	<key>performance</key>
	<string>Test.Performance.Fullname</string>
	<key>middle_boxes</key>
	<string>Test.Middleboxes.Fullname</string>
	<key>instant_messaging</key>
	<string>Test.InstantMessaging.Fullname</string>
	<key>web_connectivity</key>
	<string>Test.WebConnectivity.Fullname</string>
	<key>http_invalid_request_line</key>
	<string>Test.HTTPInvalidRequestLine.Fullname</string>
	<key>http_header_field_manipulation</key>
	<string>Test.HTTPHeaderFieldManipulation.Fullname</string>
	<key>ndt</key>
	<string>Test.NDT.Fullname</string>
	<key>dash</key>
	<string>Test.Dash.Fullname</string>
	<key>whatsapp</key>
	<string>Test.WhatsApp.Fullname</string>
	<key>telegram</key>
	<string>Test.Telegram.Fullname</string>
	<key>facebook_messenger</key>
	<string>Test.FacebookMessenger.Fullname</string>
	<key>notifications</key>
	<string>Settings.Notifications.Label</string>
	<key>automated_testing</key>
	<string>Settings.AutomatedTesting.Label</string>
	<key>sharing</key>
	<string>Settings.Sharing.Label</string>
	<key>advanced</key>
	<string>Settings.Advanced.Label</string>
	<key>about_ooni</key>
	<string>Settings.About.Label</string>
	<key>notifications_enabled</key>
	<string>Settings.Notifications.Enabled</string>
	<key>notifications_completion</key>
	<string>Settings.Notifications.OnTestCompletion</string>
	<key>notifications_news</key>
	<string>Settings.Notifications.OnNews</string>
	<key>automated_testing_enabled</key>
	<string>Settings.AutomatedTesting.Enabled</string>
	<key>enabled_tests</key>
	<string>Settings.AutomatedTesting.EnabledTests</string>
	<key>website_categories</key>
	<string>Settings.Websites.Categories.Label</string>
	<key>monthly_mobile_allowance</key>
	<string>Settings.AutomatedTesting.MonthlyMobileAllowance</string>
	<key>monthly_wifi_allowance</key>
	<string>Settings.AutomatedTesting.MonthlyWiFiAllowance</string>
	<key>upload_results</key>
	<string>Settings.Sharing.UploadResults</string>
	<key>include_ip</key>
	<string>Settings.Sharing.IncludeIP</string>
	<key>include_asn</key>
	<string>Settings.Sharing.IncludeNetwork</string>
	<key>include_cc</key>
	<string>Settings.Sharing.IncludeCountryCode</string>
	<key>include_gps</key>
	<string>Settings.Sharing.GPS</string>
	<key>send_crash</key>
	<string>Settings.Advanced.SendCrashReports</string>
	<key>debug_logs</key>
	<string>Settings.Advanced.DebugLogs</string>
	<key>use_domain_fronting</key>
	<string>Settings.Advanced.UseDomainFronting</string>
	<key>max_runtime</key>
	<string>Settings.Websites.MaxRuntime</string>
	<key>test_whatsapp</key>
	<string>Settings.InstantMessaging.TestWhatsApp</string>
	<key>test_whatsapp_extensive</key>
	<string>Settings.InstantMessaging.WhatsAppExtensiveTesting</string>
	<key>test_telegram</key>
	<string>Settings.InstantMessaging.TestTelegram</string>
	<key>test_facebook_messenger</key>
	<string>Settings.InstantMessaging.TestFacebookMessenger</string>
	<key>run_http_invalid_request_line</key>
	<string>Settings.Middleboxes.TestHTTPInvalidRequestLine</string>
	<key>run_http_header_field_manipulation</key>
	<string>Settings.Middleboxes.TestHTTPHeaderFieldManipulation</string>
	<key>run_ndt</key>
	<string>Settings.Performance.TestNDT</string>
	<key>ndt_server_auto</key>
	<string>Settings.Performance.NDTAutomaticServerSelection</string>
	<key>ndt_server</key>
	<string>Settings.Performance.NDTServerAddress</string>
	<key>ndt_server_port</key>
	<string>Settings.Performance.NDTServerPort</string>
	<key>run_dash</key>
	<string>Settings.Performance.TestDash</string>
	<key>dash_server_auto</key>
	<string>Settings.Performance.DashAutomaticServerSelection</string>
	<key>dash_server</key>
	<string>Settings.Performance.DashServerAddress</string>
	<key>dash_server_port</key>
	<string>Settings.Performance.DashServerPort</string>
</dict>
</plist>
