<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>web_connectivity</key>
	<string>https://ooni.io/nettest/web-connectivity</string>
	<key>http_invalid_request_line</key>
	<string>https://ooni.io/nettest/http-invalid-request-line</string>
	<key>http_header_field_manipulation</key>
	<string>https://ooni.io/nettest/http-header-field-manipulation</string>
	<key>ndt</key>
	<string>https://ooni.io/nettest/ndt</string>
	<key>dash</key>
	<string>https://ooni.io/nettest/dash</string>
	<key>whatsapp</key>
	<string>https://ooni.io/nettest/whatsapp</string>
	<key>telegram</key>
	<string>https://ooni.ionettest/telegram</string>
	<key>facebook_messenger</key>
	<string>https://ooni.io/nettest/facebook-messenger</string>
</dict>
</plist>
