<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>web_connectivity</key>
	<string>WebConnectivity</string>
	<key>http_invalid_request_line</key>
	<string>HttpInvalidRequestLine</string>
	<key>http_header_field_manipulation</key>
	<string>HttpHeaderFieldManipulation</string>
	<key>ndt</key>
	<string>Ndt</string>
	<key>dash</key>
	<string>Dash</string>
	<key>whatsapp</key>
	<string>WhatsApp</string>
	<key>telegram</key>
	<string>Telegram</string>
	<key>facebook_messenger</key>
	<string>FacebookMessenger</string>
</dict>
</plist>
