name: tests
on:
  pull_request:
  push:
  schedule:
    - cron: "0 2 * * */2"
jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: DEBUG_RESOLVER=y bundle install
      - run: pod repo update
      - run: pod install
      - run: |
          set -o pipefail
          xcodebuild clean build test -workspace ooniprobe.xcworkspace/ -sdk iphonesimulator \
            -scheme ooniprobe -destination 'name=iPhone 11 Pro Max' | xcpretty
